# Python virtual environments & cache
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Environment variables (Sangat penting agar .env tidak ter-commit ke Git)
**/.env

# IDE / Editor configuration
**/.vscode/
**/.idea/
**/Thumbs.db
**/.DS_Store

# Report files and local assets
Laporan_UAS_Basis_Data.pdf
print_laporan.html
Logo Unesa-01.svg
